<header class="mdl-layout__header">
  <div class="mdl-layout__header-row mdl-color--white">
    <a href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="{{ default_alt_image() }}" class="logo-header">
    </a>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation"> <!-- mdl-layout--large-screen-only -->
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
</header>
