<div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
        <img src="{{ url_for('static', filename='images/about_us_one.jpg') }}" alt="{{ default_alt_image() }}" class="about-us-image" >
    </div>
    <div class="mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
        <img src="{{ url_for('static', filename='images/about_us_two.jpg') }}" alt="{{ default_alt_image() }}" class="about-us-image" >
    </div>
    <div class="mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--2-offset-tablet mdl-cell--4-col-desktop">
        <img src="{{ url_for('static', filename='images/about_us_three.jpg') }}" alt="{{ default_alt_image() }}" class="about-us-image" >
    </div>
</div>
