<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- google fonts -->
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>{% block title %}{% endblock %}</title>

      <!-- material design light css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/material.min.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/mdl-selectfield.min.css') }}" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

      <!-- metrial design light js -->
      <script defer src="{{ url_for('static', filename='js/material.min.js') }}"></script>
      <script defer src="{{ url_for('static', filename='js/mdl-selectfield.min.js') }}"></script>

      <!-- colors and style -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/colors-material.min.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />

      <!-- font-awesome -->
      <link rel="stylesheet" href="{{ url_for('static', filename='external/font-awesome-4.7.0/css/font-awesome.min.css') }}">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {% include 'home/partials/_header.html' %}
        {% include 'home/partials/_sidebar.html' %}
        <main class="mdl-layout__content">
            <div class="page-content">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
  </body>
</html>
